$color-light-green: #23af46;
$color-orange: #ce9178;
$color-white: #FFFFFF;
$color-dark: #0E1726;
$color-light: #F8F9FD;
$color-blue: #3B94F3;
$color-gray: #8899A6;
$color-deep-purple: #310960;
$color-purple: #4A148C;
$color-red: #b71c1c;
$color-yellow: #f5e72e;
$color-pink: #e0245e;

:export {
  colorLightGreen: $color-light-green; 
  colorOrange: $color-orange;
  colorWhite: $color-white;
  colorDark: $color-dark;
  colorLight: $color-light;
  colorBlue: $color-blue;
  colorGray: $color-gray;
  colorDeepPurple: $color-deep-purple;
  colorPurple: $color-purple;
  colorRed: $color-red;
  colorYellow: $color-yellow;
}