$color-light-green: #86B04F;
$color-orange: #CC8566;
$color-white: #FFFFFF;
$color-dark: #0E1726;
$color-light: #F8F9FD;
$color-blue: #3B94F3;
$color-gray: #8899A6;
$color-deep-purple: #310960;
$color-purple: #4A148C;