$color-light-blue: rgb(86, 156, 214);
$color-light-green: rgb(181, 206, 146);
$color-orange: rgb(214, 157, 133);
$color-white: white;
$color-dark: rgb(30, 30, 30);
$color-dark-blue: rgb(43, 145, 175);